---
layout: default.hbs
---


<table class="main">

    <tr>
        <td class="wrapper">
            <div class="header">
                <a href="{{default.backendLink}}" class="logo-wrapper"><img
                        src="https://contribute.to/assets/images/logo-contribute-to.png" alt="Contribute.to"
                        alt="Contribute.to" class="main-logo"></a>




            </div>
            <table>

                <tr>
                    <td>
                        <p>Thank you for confirming your subscribing to the ARTvent newsletter. We
                            will be sending you one email every day spotlighting a new artist on <a
                                href="https://contribute.to/artvent"
                                style="color:#6C1D85; text-decoration:underline;">contribute.to/artvent</a>
                            until December 24th.</p>
                        <p> - The Contribute.to team</p>

                    </td>
                </tr>
            </table>
            <div class="footer">
                <table class="footer-wrapper">
                    <tr>
                        <td class="align-center">
                            <a href="{{default.backendLink}}"><img
                                    src="https://contribute.to/assets/images/ic-contribute-to.png" alt="Contribute.to"
                                    alt="Contribute.to" class="secondary-logo"></a>
                            <p><a href="https://contribute.to/assets/documents/20200910_terms_of_service.pdf"
                                    class="terms_text" style="padding-right: 15px;">Terms of service</a>
                                <a href="https://contribute.to/assets/documents/20200910_privacy_policy.pdf"
                                    class="terms_text" style="padding-right: 15px;">Privacy Policy</a>
                                <a href="*|UNSUB|*" class="terms_text">Unsubscribe</a></p>
                            <p style="color:#C6C6C6; font-size:13px">
                                LaterPay, Inc. <span style="color:#746D77; font-size:13px">205
                                    E 42nd St, New York, NY 10017, USA </span> <br> &#169;2020 LaterPay</p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>