---
layout: default.hbs
---


<table class="main">

    <tr>
        <td class="wrapper">
            <div class="header">
                <a href="{{default.backendLink}}" class="logo-wrapper"><img
                        src="https://contribute.to/assets/images/logo-contribute-to.png" alt="Contribute.to"
                        alt="Contribute.to" class="main-logo"></a>

                <a href="" class="banner_image">
                    <img src="https://contribute.to/assets/images/holly_leaves.png" alt="Holly leaves">
                </a>

            </div>
            <table>

                <tr>
                    <td>
                        <p>Dear [XYZ],</p>
                        <p>Next Tuesday we are super excited to be launching the <a href="https://contribute.to/artvent"
                                style="color:#6C1D85; text-decoration:underline;">Contribute.to/ARTvent</a> campaign in
                            order to
                            start supporting the artist community and we’d love to get you involved.
                        </p>
                        <p>COVID-19 may close some borders, but it can’t stop art. And right now, the art world needs
                            our support. You have been kind enough to already think about how you can support
                            Contribute.to, either by suggesting artists or other curators and by sharing feedback with
                            us <strong>If you’d like to
                                help now launch the platform here is what you can
                                do: just share the artist cards in this campaign with your network</strong>, with a
                            personal note, if you wish.</p>
                        <p><span class="italic-text">Just to recap what we have built: </span> <br>Contribute.to is a
                            new platform to support the art community. We offer artists, photographers, filmmakers and
                            creators at large an interactive tool to showcase their work, easily share it with others,
                            and collect contributions for their efforts. On Contribute.to, collectors and curators bring
                            artists together under a common theme or cause, making it easy for fans to discover and
                            support the art they love. Inspired by - and with the help of - Nicola Erni, we have created
                            this platform and an amazing matching option which matches contributions made to artists.
                        </p>
                        <p><span class="italic-text">What’s next?
                            </span> <br>Starting on December 1st, we are launching the <a
                                href="https://contribute.to/artvent"
                                style="color:#6C1D85; text-decoration:underline;">Contribute.to/ARTvent*</a> initiative
                            to showcase a
                            different artist via a Contribute.to Card - every day until December 24th - to introduce the
                            platform, to help generate contributions and to build greater awareness for the community.
                            As an added incentive, Nicola Erni has generously agreed to match contributions made during
                            the campaign by 1.5x. (*Special thanks to curator and art historian Carrie Scott for coming
                            up with this inspiring name.)</p>
                        <p> <span class="italic-text">How you can support contribute.to/ARTvent:</span> <br>
                            <strong>Just
                                respond to this email with a simple “yes”</strong>and I’ll share each of the 24 cards
                            with you on email, including some text fragments to make it easy for you to share the cards.
                            <br> (Alternatively you can <a href="#"
                                style="color:#6C1D85; text-decoration:underline;">[sign up here]</a> to receive a new
                            artist’s Card via
                            email every day. You will not ever receive any ads and you are not going to receive regular
                            emails outside of this campaign)
                        </p>
                        <p>Your network and your broad connections are going to be essential to making this community a
                            success. <br> <strong>Please share the cards you like with your network and on your social
                                media channels</strong>, so that we can get the word out as far and as quickly as
                            possible. </p>
                        <p>Just those few moments of your time each day will have a profound impact on artists’ lives.
                        </p>
                        <p>Kind regards, <br>
                            Cosmin
                        </p>
                        <p>PS. We are just launching this ship and not everything may be perfect from day one. Please do
                            let us know if you see anything you think isn’t quite right.
                        </p>
                    </td>
                </tr>
            </table>
            <div class="footer">
                <table class="footer-wrapper">
                    <tr>
                        <td class="align-center">
                            <a href="{{default.backendLink}}"><img
                                    src="https://contribute.to/assets/images/ic-contribute-to.png" alt="Contribute.to"
                                    alt="Contribute.to" class="secondary-logo"></a>
                            <p><a href="https://contribute.to/assets/documents/20200910_terms_of_service.pdf"
                                    class="terms_text" style="padding-right: 15px;">Terms of service</a>
                                <a href="https://contribute.to/assets/documents/20200910_privacy_policy.pdf"
                                    class="terms_text" style="padding-right: 15px;">Privacy Policy</a>
                                <a href="*|UNSUB|*" class="terms_text">Unsubscribe</a></p>
                            <p style="color:#C6C6C6; font-size:13px">
                                LaterPay, Inc. <span style="color:#746D77; font-size:13px">205
                                    E 42nd St, New York, NY 10017, USA </span> <br> &#169;2020 LaterPay</p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>